<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autos Details</title>
</head>
<body>
<h1>Autos Datasets</h1>
<h3>Enter the Details of your vehicle :</h3>
<form method="post" action ="/success">
    <label><b>Length :</b></label><br>
    <input type="text" name="length"><br>
    <label><b>Width :</b></label><br>
    <input type="text" name="width"><br>
    <label><b>Number of Cylinders :</b></label><br>
    <input type="text" name="noc"><br>
    <label><b>Engine Size :</b></label><br>
    <input type="text" name="engine_size"><br>
    <label><b>Bore :</b></label><br>
    <input type="text" name="bore"><br>
    <label><b>horse_power :</b></label><br>
    <input type="text" name="horse_power"><br><br>
  <input type="submit" value="Result"><br><br>
</form>
</body>
</html>